XML/XSD/Eje1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:sequence>
    <xs:element name="nom" type="xs:string"/>
    <xs:element name="cognom" type="xs:string"/>
    <xs:element name="poblacio_orig" type="xs:string"/> 
    <xs:element name="data_naixement" type="xs:date"/>
    <xs:element name="hora" type="xs:time"/>
    <xs:element name="nota" type="xs:decimal"/>
    <xs:element name="telefon" type="xs:string"/>
    <xs:element name="fumador" type="xs:boolean"/>
    </xs:sequence>
</xs:schema>


